{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{name}}
{% endblock %}

{% block content %}
<div style="background-color: #ffffff;">
    {% include 'partials/_header.html' %}
    <div class="container mt-5">
        <div class="row mt-5">
            <div class="container-fluid">
                <div class="d-flex flex-wrap justify-content-center">
                    <div class="filter electrical">
                        <img src="{% static 'images/IMG_20211118_131705.jpg' %}" width="300" height="300">

                    </div>

                    <div class="filter mechanical"> 
                        <img src="{% static 'images/IMG-20200712-WA0020.jpg' %}" width="300" height="300">
                    </div>
                   
                    <div class="filter electrical">
                        <img src="{% static 'images/IMG_20211119_101447.jpg' %}" width="300" height="300">

                    </div>

                    <div class="filter mechanical"> 
                        <img src="{% static 'images/IMG-20200712-WA0023.jpg' %}" width="300" height="300">
                    </div>
                   
                    <div class="filter electrical">
                        <img src="{% static 'images/IMG_20211119_144311.jpg' %}" width="300" height="300">

                    </div>

                    <div class="filter mechanical"> 
                        <img src="https://images.pexels.com/photos/5726708/pexels-photo-5726708.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" width="300" height="300">
                    </div>
                   
                    <div class="filter electrical">
                        <img src="{% static 'images/IMG_20211122_101331.jpg' %}" width="300" height="300">

                    </div>

                    <div class="filter mechanical"> 
                        <img src="https://images.pexels.com/photos/4577448/pexels-photo-4577448.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" width="300" height="300">
                    </div>
                   
                    <div class="filter electrical">
                        <img src="{% static 'images/IMG_20211125_115056.jpg' %}" width="300" height="300">

                    </div>

                    <div class="filter mechanical"> 
                        <img src="https://images.pexels.com/photos/3964748/pexels-photo-3964748.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" width="300" height="300">
                    </div>
                   
                    <div class="filter electrical">
                        <img src="{% static 'images/IMG_20211125_115154.jpg' %}" width="300" height="300">

                    </div>

                    <div class="filter mechanical"> 
                        <img src="https://images.pexels.com/photos/586077/pexels-photo-586077.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" width="300" height="300">
                    </div>
                   
                    <div class="filter electrical">
                        <img src="{% static 'images/IMG_20211125_114943.jpg' %}" width="300" height="300">

                    </div>

                    <div class="filter mechanical"> 
                        <img src="https://images.pexels.com/photos/586024/pexels-photo-586024.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" width="300" height="300">
                    </div>
                   
                    <div class="filter electrical">
                        <img src="{% static 'images/IMG_20211125_115528.jpg' %}" width="300" height="300">

                    </div>

                    <div class="filter mechanical"> 
                        <img src="https://images.pexels.com/photos/3912992/pexels-photo-3912992.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" width="300" height="300">
                    </div>
                   
                      </div>

                
            </div>
        </div>
    </div>
</div>
    
{% endblock %}
